<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @movie.name %>
</p>

<%= render partial: "comments/comments", locals:{ commentable: @movie}%>

<%= render partial: "comments/form", locals:{ commentable: @movie}%>
