<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @myblog.name %>
</p>

<%= render partial: "comments/comments", locals:{ commentable: @myblog}%>

<%= render partial: "comments/form", locals:{ commentable: @myblog}%>
